# YouCompleteMe
.ycm_extra_conf.*

# Object files
*.o
*.ko
*.obj
*.elf
*.user
*.autosave
*.~
*.bak
*.log
*.swp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Visual studio
*.ncb
*.idb
*.suo
*.pdb

# Debug files
*.dSYM/

# OSX shit
.DS_Store
.directory

# CMake build cruft
/b/
